@charset "utf-8";

.header {
    display: flex;
    width: 740px;
    height: 30px;
    padding: 0 5px 5px 5px;
    background-color: #e76610;
    color: white;
}

.caption {
    font-size: 10px;
    margin-top: 0;
}

.area {
    font-size: 8px;
    margin-left: auto;
    margin-top: 0;
    
}

.container {
    display: flex;
    width: 740px;
    background-color: #fbf4ea;
}


.main_images img {
    width: 210px;
    margin-top: 5px;
}

.item  img { 
    width: 66px;
    margin-right: 6px;
}

.sub_item {
    display: flex;
}

.hotel_caption {
    width: 500px;
}

.hotel_plan {
    display: flex;
}

.hotel_name {
    width: 400px;
    color: #1558CE;
}

.hotel_price {
    width: 400px;
    color: #3B1800;

}

.hotel_syoukai,.hotel_access {
    font-size: 8px;
}